/* font */
@font-face {
  font-family: "clockicons";
  src: url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot");
  src: url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.svg#clockicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF_HambakSnow";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* root */

/* reset */
body,
h1,
h2,
h3,
p,
ul,
button,
blockquote {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
blockquote {
  font: inherit;
}

ul,
li {
  list-style: none;
}

button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

input {
  border: none;
  vertical-align: baseline;
  background: none;
}

/* hidden */
.a11y_hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.hide_display {
  display: none;
}

.hide_visibility {
  visibility: hidden;
}

/* layout */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* background-color: rgb(239, 238, 233); */
  font-family: "Pretendard-Regular";
  font-size: 2rem;
  color: aliceblue;
}

.moment_container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.moment_container .intro_part {
  max-width: 60rem;
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moment_container > header,
.moment_container > main,
.moment_container > footer {
  display: flex;
  align-items: center;
}

.moment_container > main,
.moment_container > footer {
  justify-content: center;
}

.moment_container > header {
  justify-content: space-between;
}

.moment_container > main {
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
}

.moment_container > main .todo_form > label {
  display: block;
  margin-bottom: 1rem;
}

/* common */
input {
  border-bottom: 2px solid #fff;
  color: #fff;
}

button:hover {
  color: tomato;
}

/* login(intro) */
.intro_part h2,
.intro_part h2 > input {
  font-size: 5rem;
}

.intro_part h2 > input::placeholder {
  font-size: 4.5rem;
}

.intro_part h2 > input {
  max-width: 45rem;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  padding: 0 1rem;
}

.intro_part button {
  margin-top: 1.5rem;
  float: right;
  font-size: 3rem;
}

/* header */
header .city_weather_data {
  display: flex;
  gap: 1rem;
}

header .city_weather_data .weather {
  --weather-icon: url("");
}

header .city_weather_data .weather::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: var(--weather-icon) no-repeat center center / contain;
  vertical-align: middle;
}

/* main */
main .days {
  gap: 0;
  font-size: 4rem;
}

main .clock {
  font-family: clockicons;
  font-size: 8rem;
}

main .greeting_text > p {
  display: inline;
  font-size: 3rem;
}

main .todo_form,
main .todo_form > input {
  font-size: 3rem;
  text-align: center;
}

main .todo_status_wrap,
main .todo_list,
main .todo_list > li .edit_input {
  font-size: 3rem;
}

main .todo_list > li {
  display: flex;
  justify-content: space-between;
}

main .todo_list > li span:first-child,
main .todo_list > li input {
  min-width: 32rem;
  max-width: 32rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
}

main .todo_list > li .btns > button {
  margin-right: 1rem;
}

main .todo_list > li .btns > button:last-child {
  margin-right: 0;
}

/* footer */
footer > blockquote {
  margin-right: 1rem;
}
